/*-------------------------------------------------------------------
  1. @FONTFACE CSS
    Combining fonts <https://jakearchibald.com/2017/combining-fonts/>
    <https://www.google.com/get/noto/help/guidelines/>
    It is recommended to use "Noto Sans CJK {JP, KR, SC, TC}" rather than "Noto Sans {JP, KR, SC, TC}"

    https://www.google.com/get/noto/help/cjk/
    For a Japanese website:

font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;

For a website targeting Hindi, and then Tamil users

font-family: "Noto Sans Devanagari", "Noto Sans Tamil", "Noto Sans", sans-serif;

For an Arabic website that needs to use an UI font for UI elements, such as buttons and tabs, that have more strict vertical space:

font-family: "Noto Naskh Arabic UI", "Noto Sans UI", sans-serif;
-------------------------------------------------------------------*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
      url('https://www1.udel.edu/it/cs_s/assets/fonts/quicksand-v7-latin-regular.woff2') format('woff2'),
      url('https://www1.udel.edu/it/cs_s/assets/fonts/quicksand-v7-latin-regular.woff') format('woff');
  unicode-range: U+0020-007D, U+00A9, U+00AB, U+00BB, U+00B7; /* IE ignores the unicode-range if the U is lowercase e.g 'u+0061'. */
}

/*
Font:     Greycliff CF
Style:    Bold
URL:    https://www.youworkforthem.com/font/T6406/greycliff-cf
Foundry:  Connary Fagen
Foundry:  https://www.youworkforthem.com/designer/479/connary-fagen
Copyright:  © 2017 Connary Fagen
Version:  17
Created:  February 03, 2018
License:  https://www.youworkforthem.com/font-license
License:  The WebFont(s) listed in this document must follow the YouWorkForThem
      WebFont license rules. All other parties are strictly restricted
      from using the WebFonts(s) listed without a purchased license.
      All details above must always remain unaltered and visible in your CSS.
*/
@font-face {
  font-family: 'greycliff-bold';
  font-style: normal;
  font-weight: 700;
  src: local('GreycliffCF-Bold'), local('greycliff-bold'),
       url('https://www.udel.edu/content/dam/udelImages/digital-brand-assets/fonts/GreycliffCF-Bold.woff2') format('woff2'),
       url('https://www.udel.edu/content/dam/udelImages/digital-brand-assets/fonts/GreycliffCF-Bold.woff') format('woff');
       unicode-range: U+0020-007D; /* all letters and english related unicode-table.com */
}
/* @font-face {
  font-family: 'GreycliffCF-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://www1.udel.edu/it/cs_s/assets/fonts/greycliff-cf-bold.woff2') format('woff2'),
       url('https://www1.udel.edu/it/cs_s/assets/fonts/greycliff-cf-bold.woff') format('woff');
       unicode-range: U+0020-007D;
} */

@font-face {
  font-family: 'Quicksand Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'),
       url('https://www1.udel.edu/it/cs_s/assets/fonts/quicksand-v7-latin-700.woff2') format('woff2'),
       url('https://www1.udel.edu/it/cs_s/assets/fonts/quicksand-v7-latin-700.woff') format('woff');
  unicode-range: U+0020-007D;
}
/* @font-face {
  font-family: 'Noto Sans Disp';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Disp Regular'), local('NotoSansDisplay-Regular'),
      url('https://www1.udel.edu/it/cs_s/assets/fonts/NotoSansDisplay-Regular.woff2') format('woff2'),
      url('https://www1.udel.edu/it/cs_s/assets/fonts/NotoSansDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans Disp SemBd';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Sans Disp SemBd Regular'), local('NotoSansDisplay-SemiBold'),
      url('https://www1.udel.edu/it/cs_s/assets/fonts/NotoSansDisplay-SemiBold.woff2') format('woff2'),
      url('https://www1.udel.edu/it/cs_s/assets/fonts/NotoSansDisplay-SemiBold.woff') format('woff');
} */
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight:  400;
  src: local('Noto Sans Mono'), local('NotoSans-Mono'),
      url('https://www1.udel.edu/it/cs_s/assets/fonts/NotoSans-Mono.woff2') format('woff2'),
      url('https://www1.udel.edu/it/cs_s/assets/fonts/NotoSans-Mono.woff') format('woff');
}


/* see i18n folder for other CSS stuff */
:lang(es-ES) { /* spanish */
  quotes: "«" "»"
}
:lang(ja-JP) { { /* japan */
  quotes: "「" "」"
}
:lang(zh) { /* China */
  quotes: "「" "」"
}
:lang(zh-CN) { /* PR of China */
  quotes: "“" "”"
}
body:lang(ar) { /* arabic */
  line-height: 1.58824;
}

body:lang(th)  { /* thai */
  line-height: 1.64706;
}

body:lang(ar)
body:lang(ja),
body:lang(ko),
body:lang(th),
body:lang(zh) {
  letter-spacing: 0em
}
