/*---------------------------------------------------------------
  $IE BASED CSS

  Defines all of the CSS styles / fixes for
  Internet Explorer 11 and Edge.

  @version 1.0.1
    1. @IE11 HACKS
      a. Hide native select list button in IE11
    2. @EDGE HACKS
---------------------------------------------------------------*/
/*---------------------------------------------------------------
  1. @IE11 HACKS
      a. Hide native select list button in IE11
      b. Show the overflow in IE, Edge.
      c. Correct the text wrapping in Edge and IE.
      d. Correct the color inheritance from `fieldset` elements in IE.
      e. Remove the default vertical scrollbar in IE.
      f. Support for IE.
      g. Show the overflow in Edge and IE.
      h. disable ALL viewport zooming for a webpage accessed via IE11 on WinRT
         https://stackoverflow.com/questions/23757403/disable-all-page-zooming-in-ie11-on-windows8-arm
      i. IE 11 uses old css grid syntax
      j. IE 11 doesn't support <main>. Define main as a block-level element.
      k. IE 11 shows horz. scrollbar when using 100vw.
---------------------------------------------------------------*/
html { /* h */
  -ms-content-zooming: none; /* Disables zooming */
  touch-action: none;   /* Disable any special actions on tap/touch */
  -ms-overflow-style: scrollbar;
  -ms-word-wrap: break-word; /* e */
}
select::-ms-expand {
  display: none /* a */
}
select {
  padding-right: 1em !important;
}
button,
input { /* c */
  overflow: visible;
}
legend {
  box-sizing: border-box; /* c */
  color: #4680DC; /* d  inherit for IE */
  display: table; /* c */
  max-width: 100%; /* c */
  white-space: normal; /* c */
}
textarea {
  overflow: auto; /* e */
}
.material-icons,
[data-icon-after]::after {
   -webkit-font-feature-settings: 'liga'; /* f */
  font-feature-settings: 'liga';
}
hr {
  overflow: visible; /* g */
}
@-ms-viewport {
  width: device-width;
}
main {
  display: block;  /* j */
  width: 100%;
}

/*** 7/18 */
html {
  -ms-overflow-style: scrollbar;
  -ms-word-wrap: break-word; /* e */
}

.ud-wrapper--grid,
.grid {
  display: -ms-grid;
  -ms-grid-columns:
  [viewport-start] minmax(1em, 1fr)
  [container-start] minmax(0, 1140px) [container-end]
  minmax(1em, 1fr) [viewport-end];
}
.item--contained,
.ud-section--main,
.ud-section--submain,
.item--full > div,
.item--full > a,
.item--full > p,
.item--full > h1,
.item--full > h2,
.item--full > h3,
.item--full > h4,
.item--full > img,
.ud-grid--6,
.ud-grid--2 {
  -ms-grid-column: container;
}
.item--full {
  -ms-grid-column: viewport;
  -ms-grid-columns: inherit;
}

.ud-grid--6,
.ud-grid--2 {
  display: -ms-grid;
}
.ud-grid--6 {
  -ms-grid-columns: (1fr 10px)[6];
}
.ud-grid--2 {
  -ms-grid-columns: (1fr 10px)[2];
}

.ud-norm--header,
.ud-header--title,
.ud-section--hero,
.ud-norm--navbar,
.ud-norm--footer,
.ud-footer--legal {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.ud-grid--6 {
  -ms-grid-columns: (1fr 10px)[6];
}
.ud-grid--2 {
  -ms-grid-columns: (1fr 10px)[2];
}
/*------------------------------------------------------------------------------
a. IE 11 hack because alignment is whack height (50px) + margin-bottom (24px)
------------------------------------------------------------------------------*/
body.is_ms .ud-footer--social ul {
  top: calc(100% - 74px); /* a */
}










@media only screen and (max-width: 599px) {
  .grid {
    -ms-grid-rows:
     65px
      60px
      max-content
      max-content
      100px
      min-content
      auto;
  }
  .grids {
    -ms-grid-columns: 1fr;
  }

  .ud-footer--logo,
  .ud-footer--social {
    -ms-grid-column: 1/-1;
    -ms-grid-column-span: 1/-1;
  }

  .ud-section--muh {
    -ms-grid-columns: minmax(1em, 1fr) [container-start] 1fr [container-end] minmax(1em, 1fr);
  }
}

@media only screen and (min-width: 600px) {
  .grid {
    -ms-grid-rows:
      135px
      60px
      60px
      max-content
      max-content
      100px
      max-content
      50px;
  }
  .ud-norm--header,
  .ud-section--hero,
  .ud-section--content,
  .ud-norm--footer,
  .ud-footer--legal{
    -ms-grid-columns: 1;
    -ms-grid-columns-span: 6;
  }
  .ud-section--sub1,
  .ud-section--sub2,
  .ud-section--sub3{
    -ms-grid-columns: 1;
    -ms-grid-columns-span: 2;
  }
}
















/*
 below is used with menu / help, hero, main, boxes 1-3 grid layout
.menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 3;
}
*/

#udit-form {
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows:  auto;
}
/** BRANDING HACKS
    a. When using align-items: center on a flex container in the column direction, the contents of flex item, if too
    big, will overflow their container in IE 10-11.
    https://github.com/philipwalton/flexbugs#2-column-flex-items-set-to-align-itemscenter-overflow-their-container
    b. auto needed by IE 11
*/
.ud-norm--header > *,
.ud-norm--footer > *,
.ud-ft--left > *,
.ud-ft--right > *,
section > * {
  box-sizing: border-box; /* a */
  max-width: 100%
}
.ud-ft--left, .ud-ft--right {
  -ms-flex-basis: 50%; /* b */
  flex-basis: 50%;
}
[role="banner"] a {
  display: -ms-inline-grid;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -ms-align-self: center;
}
