@import url("../../assets/css/_normalize.css");
@import url("../../public/css/_grid.css");
@import url("../../public/css/_branding.css");
@import url("../../public/css/_flexbox.css");
@import url("../../assets/css/_aria.modal.css");
@import url("_jqueryui.css");
@import url("../../assets/css/_helper-classes.css");
@import url("../../assets/css/_fonts.css");
@import url("../../assets/css/_wp-overrides.css");
@import url("../../assets/css/_wcag.css");
@import url("../../assets/css/_admin.tabs.css");
/**
  * $ADMIN CSS
  *
  * Defines all of the styles used in
  * the plugin's ADMIN dashboard.
  *
  * The Table of contents conforms to W3C HTML Elements organization.
  * {@link https://www.w3.org/TR/2012/WD-html-markup-20121025/elements-by-function.html}
  * @since   1.4.2
  * @version 3.1.0
*/
/*------------------------------------------------------------------------------
[Table of contents]
  1. @SECTIONING ROOT
  2. @GROUPING CONTENT
  3. @TEXT-LEVEL SEMANTICS
  4. @EMBEDDED CONTENT
  5. @FORMS
  6. @TABLES
  7. @SCREEN READERS
  8. @MEDIA QUERIES
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 1. @SECTIONING ROOT
------------------------------------------------------------------------------*/
/* body {
  color: #333;
} */
/*------------------------------------------------------------------------------
 4. @TEXT-LEVEL SEMANTICS
------------------------------------------------------------------------------*/



/* #ud-header--wrap {
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  -ms-grid-rows: 130px 50px;
  grid-template-rows: 130px 50px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
} */


#id-ud-grid {
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  -ms-grid-columns:  10px (100px 1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px;
  grid-auto-rows: 50px;
  grid-auto-flow: row;
}

#id-ud-grid.ud-grid--6 > div {
  background-color: tomato;
  color: white;
  font-size: 4vw;
  padding: 10px;
}
#id-ud-grid.ud-grid--6 > div:last-child {
  -ms-grid-column: 1;
  grid-column: 1/-1;
}

#id-ud-grid .icon {
  width: 100px;
  height: 100px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#id-ud-grid .icon.resz {
  width: 80px;
  height: 80px;
}

#id-ud-grid svg {
  color: white;
}

.ud-grid--4 {
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  -ms-grid-columns:  10px 1fr 10px 1fr 10px 1fr 10px;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows:  1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.ud-div--info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.grid a {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 50px;
  height: 50px;
}



svg:not(:root) {
  overflow: hidden;
}






/**
 * SUPPORT CARDS CSS
 */
.text h3 {
  background: #00539f;
  color: white;
  padding: 15px;
  position: relative;
  height: 50px;
}
.ud-norm--cards a, .ud-norm--cards a:hover {
  border-bottom: none;
  text-decoration: none;
}
.ud-norm--cards .icon {
  width: 128px;
  height: 128px;
  font-size: 48px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.ud-norm--cards > ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
}

.ud-norm--cards li.drop::before {
  content: "";
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: -webkit-transform 0.3s cubic-bezier(0.68, 1.55, 0.265, 1);
  transition: transform 0.3s cubic-bezier(0.68, 1.55, 0.265, 1);
  transition: transform 0.3s cubic-bezier(0.68, 1.55, 0.265, 1), -webkit-transform 0.3s cubic-bezier(0.68, 1.55, 0.265, 1);
  box-shadow: 0 8px 10px 1px #0000001a, 0 3px 14px 2px #0000001a, 0 5px 5px -3px #0003;
}

.ud-norm--cards li.drop {
  position: relative;
  margin-top: 20px;
  padding: 0;
  background: white;
  text-decoration: none;
  transition: box-shadow 0.3s cubic-bezier(0.68, 1.55, 0.265, 1), -webkit-transform 0.3s cubic-bezier(0.68, 1.55, 0.265, 1);
  transition: box-shadow 0.3s cubic-bezier(0.68, 1.55, 0.265, 1), transform 0.3s cubic-bezier(0.68, 1.55, 0.265, 1);
  transition: box-shadow 0.3s cubic-bezier(0.68, 1.55, 0.265, 1), transform 0.3s cubic-bezier(0.68, 1.55, 0.265, 1), -webkit-transform 0.3s cubic-bezier(0.68, 1.55, 0.265, 1);
  box-shadow: 0 5px 15px 0 #0000004d;
  border-radius: 4px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  will-change: opacity;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}


.ud-norm--cards li.drop .img {
  background: #2673a6;
  color: white;
}
.ud-norm--cards li .img {
  display: inherit;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 9.5rem;
  border-radius:  4px 4px 0 0;
}

.u-ta--center {
  text-align: center !important;
  height: 150px;
  background: #373737;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
.ud-norm--cards li .text {
  padding: 1rem;
  background: white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 1;
}

.ud-norm--cards li .text h2 {
  margin: 0;
  z-index: 99;
}
.ud-norm--cards li .text h3 {
  font-size:18px;
}
.ud-norm--cards li a {
  text-decoration: none;
  border: none;
}

.ud-norm--cards li .text > :last-child {
  padding-top: 0.75rem;
}
.ud-norm--cards li:focus-within,
.ud-norm--cards li p {
  -webkit-transform: none;
  transform: none;
  text-shadow: white 0 0 28px;
  font-size: 16px !important;
}

.ud-norm--cards li:focus-within,
.ud-norm--cards li:not(.ud-div--info):hover {
  -webkit-transform: scale(1.027);
  transform: scale(1.027);
}



.ud-div--phone img,
.ud-div--text img {
  margin-top: -40px;
}
.card span,
.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: start;
  align-items: start;
  justify-content: center;
}
.cards {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  box-sizing: border-box;
}
/* https://css-tricks.com/scale-svg/ */
.cards img {
  width: 100px;
}
.card {
  position: relative;
  margin-bottom: 0;
  padding: 0;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  border-radius: 4px;
}
@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .card:last-child {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  /* .card:nth-child(even) {
    margin-right: 20px;
  } */
  .card:last-child {
    margin-right: 0;
  }
}
.card span {
  display: block;
}
span.card-header,
.card .card-summary {
  display: -webkit-flex;
  display: flex;
}
.card .card-summary {
  padding: 5% 5% 3% 5%;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 20%;
  padding: 0 5%;
   width: 100%;
  height: 100%;
  font-family: "Open Sans",sans-serif !important;
  color: white;
  font-size: 18px;
  border-radius:  4px 4px 0 0;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-origin: bottom;
  transition-origin: bottom;
  -webkit-transition-property: transform max-height;
  transition-property: transform max-height;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.card .card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  background: url("../img/test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  border-radius: 4px 4px 0 0;
}
.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.card .card-title {
  background: rgba(255, 211, 0, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
  text-align: center;
}
.card .card-meta {
  /* max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; */
}
.card:hover, .card:focus {
/*   background: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px; */
}
.card:not(.ud-div--info):hover .card-title,
.card:not(.ud-div--info):focus .card-title {
  background: rgba(255,255,255,.73);
}
.card:not(.ud-div--info):hover .card-summary,
.card:not(.ud-div--info):focus .card-summary {
  max-height: calc(100% - 35px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
   -webkit-align-items: center;
  align-items: center;
  -webkit-transition-property: transform max-height;
  transition-property: transform max-height;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  z-index: 9999 !important;
}

.ud-card {
  position: relative;
  margin-bottom: 2em;
  padding: 0;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  border-radius: 4px;
  }
@media (max-width: 700px) {
  .ud-card--cell {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .ud-card:last-child {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  .ud-card:last-child {
    margin-right: 0;
  }
}
.ud-card span {
  display: block;
}
span.card-header,
.ud-card .card-summary {
  display: -webkit-flex;
  display: flex;
}
.ud-card.ud-div--info .card-summary {
  padding: 5% 5% 3% 5%;
  max-height: 100%;
}
.ud-card .card-summary {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 32px;
  padding: 0 5%;
   width: 100%;
  height: 140px;
  font-family: "Open Sans",sans-serif !important;
  text-align:center;
  color: white;
  font-size: 18px;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-origin: bottom;
  transition-origin: bottom;
  -webkit-transition-property: transform max-height;
  transition-property: transform max-height;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  box-sizing:border-box;
}
.ud-card .card-header {
  position: relative;
  height: 140px;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  justify-content:center;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/702340/ud-bgimg--card.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
}
.ud-card .card-header:hover,
.ud-card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.ud-card .card-title {
  background: rgba(255, 211, 0, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
.ud-card .card-title h3 {
  font-family:"Open Sans",sans-serif !important;
  font-size: 14px;

  padding: 0 3.5%;
  margin: 0;
  text-align: center;
}


.ud-card:not(.ud-div--info):hover .card-title,
.ud-card:not(.ud-div--info):focus .card-title {
  background: rgba(255,255,255,.73);
}
.ud-card:hover .card-summary {
  max-height: 108px;
  background: rgba(0, 0, 0, .53) !important;
  width: 100%;
  height: 100%;
   -webkit-align-items: center;
  align-items: center;
  -webkit-transition-property: transform max-height;
  transition-property: transform max-height;
  -webkit-transform-origin:bottom;
  transform-origin:bottom;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border-radius:  4px 4px 0 0;
  z-index: 9999 !important;
}

.ud-card:not(.ud-div--info):hover .card-summary,
.ud-card:not(.ud-div--info):focus .card-summary {
  max-height: 108px;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
   -webkit-align-items: center;
  align-items: center;
  -webkit-transition-property: transform max-height;
  transition-property: transform max-height;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  z-index: 9999 !important;
}

.ud-div--email img {
  margin-top:-20px;
}

#support_list {
  background: #F7F7F7;
  padding: 16px;
  margin-top: 20px;
}
.ud-norm--cards li:first-child,
#support_list li:hover {
  -webkit-transform: none !important;
  transform: none !important;
}

@media only screen and (max-width: 782px) {
  .column {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
.container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding:0 1%;
  margin-top: 3em;
}

.column {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 1%;
}

.container h3 {
  margin-bottom: 1em;
}
.container div:first-child {
  -webkit-flex: 2;
  flex: 2;
  margin-left: 0;
}
.container div:first-child  p {
  padding-left: 0;
}
.container div:not(:first-child){
  -webkit-flex: 1;
  flex: 1;
}

.ud-norm--cell {
  -webkit-flex: 1;
  flex: 1;
  color: white;
}

.ud-norm--cell.rowspan {
  -webkit-flex: 2;
  flex: 2;
}
/*------------------------------------------------------------------------------
  * 3. $TYPE
------------------------------------------------------------------------------*/
#udel_message {
  background-color:#FDD;
  padding:.313em;
  font-weight:bold
}

p.submit {
  float: none !important;
  text-align:center;
}

#udtbp-ajax-message p {
  color: white;
  font-size: 24px;
}

.theme_name {
  display: inline;
  font-style: italic;
  font-weight: bold;
}
#udt_wrap {
  background-color: #00539F;
  border-radius: 0;
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
flex-flow: column wrap;
}

.box-content,
.switch {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

#udtbp_theme_override > * {
  font-family: "GreycliffCF-Bold",sans-serif;
  font-weight: 400;
}

#udt_wrap h3{
  font-family: "greycliff-light",sans-serif;
  font-size: 24px;
  margin-bottom: 0;

}

#udtbp-ajax-message {
  background-color: #090;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 40px;
  left: 0px;
  line-height: 2;
  padding: 14px;
  position: fixed;
  text-align: center;
  top: 32px;
  width: 100%;
  z-index:9999;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

#udtbp-ajax-saving {
  display: none;
  -webkit-transition: background, box-shadow 0.3s;
  transition: background, box-shadow 0.3s;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 110px;
  height: 110px;
  background: transparent;
  z-index: 999999;
}

#udtbp-ajax-saving.success-animation {
  background-color: #090;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 40px;
  opacity: 1;
}

#udtbp-ajax-saving.success-animation:before {
  background: none;
  font-family: 'dashicons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f147";
  color: white;
  font-size: 22px;
  line-height: 50px;
}

#udtbp-ajax-saving.et_loading:before,
#udtbp-ajax-saving.success-animation img,
#udtbp-ajax-message {
  display: none;
}

#udtbp_theme_override.show
#udtbp-ajax-message.show {
  display: inline-block;
}

.ud-header--title {
  height: 50px;
  padding: 0 12px;
}

.ud-header--title h1 {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  font-family: "greycliff-bold", Arial;
  font-size: 17px !important;
  letter-spacing: 0.15px;
  height: 100%;
  margin: 0;
  padding: 0;
  color:  white;
  text-transform: uppercase;
  border: none;
}
/*------------------------------------------------------------------------------
  * 5. $FORMS
------------------------------------------------------------------------------*/
body#error-page #ud-id-head,
body#error-page #ud-id-foot {
  display: none !important;
  visibility: hidden;
}



/*
#udtbp-header-tab-save:active,
#udtbp-footer-tab-save:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
} */
/*-----------------------
  Visibility Toggle CSS
-----------------------*/
.udt_yes_no_button,
.wp-core-ui .button.save-button {
  border-radius: 4px;
}

.udt_yes_no_button,
#udt_panel_mainmenu li:hover,
#udt_panel_mainmenu li.ui-tabs-active,
#udtbp-ajax-message  {
  box-shadow:  inset 0 0 30px rgba(0,0,0, 0.25);
}

.udt_yes_no_button {
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  width: 220px;
  height: 50px;
  background: #fdfdfd;
  box-shadow: inset -1px 1px 2px #0003, inset 1px 0px 2px #0003;
}

.udt_yes_no_button span.udt_button_slider {
  background: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px #0003, 0 6px 6px #0003;
  height: 40px;
  width: 40px;
  margin: 5px 0;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.udt_yes_no_button.udt_on_state {
  background-color: #080;
}

.udt_yes_no_button.udt_off_state {
  background-color: #f1f5f9;
}
.udt_yes_no_button.udt_on_state span.udt_button_slider {
  left: 180px;
  margin-left: -5px;
}

.udt_yes_no_button.udt_off_state span.udt_button_slider {
  left: 5px;
}

.switch {
  width: auto;
  height: 50px;
  position: relative;
  border: 1px solid #DDD;
  border-radius: 50px;
}

.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.switch input:checked {
  z-index: 1;
}

.switch input:checked + label {
  cursor: default;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

/* .switch input:not(:checked) + label:hover {
  opacity: 0.5;
} */

.switch input:not(:checked) + label,
#rad_blue_footer + label::after,
#rad_white_footer + label::before {
  color: #CCC;
  webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.switch label {
  color: #333;
  /* opacity: 0.33;
  transition: opacity 0.25s ease; */
  cursor: pointer;
}
.switch #rad_blue_footer:checked + label {
  background:#00539F;
  border-radius: 50px 0 0 50px;
  color: white;
}

#rad_blue_footer + label::after,
#rad_white_footer + label::before {
  /* content: '';
  width: 20px;
  height: 48px;
  position: absolute;
  top: 0; */
}

#rad_blue_footer + label::after {
  /* background: #00539f;
  left: 100px; */
}

#rad_white_footer + label::before {
  /* background: white;
  right: 100px; */
}

.switch #rad_blue_footer:not(:checked) + label::after,
.switch #rad_white_footer:checked + label::before {
 /*  background: transparent;
  box-shadow: inset 0 0 30px #0000004d; */
}
.switch #rad_white_footer:checked + label {
  background:ghostwhite;
  border-radius: 0 50px 50px 0;
  color: #333;
}

.switch #rad_white_footer:checked + label::before {
  background:ghostwhite;
  border-radius: 0 50px 50px 0;
  box-shadow: none;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

/* .switch .toggle-inside {
  background: #4A4A4A;
  border-radius: 100%;
  box-shadow: #008bdb33 0px 0px 60px;
  height: 40px;
  width: 40px;
  margin: 5px 5px 0 0;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
} */

.switch--horizontal {
  margin: 0 auto;
  font-size: 0;
}

.switch--horizontal input {
  height: inherit;
  width: 100px;
  left: 100px;
  margin: 0;
}

.switch--horizontal label {
  font-size: 23px;
  line-height: 1.9;
  display: inline-block;
  width: 126px;
  height: 100%;
  text-align: center;
  z-index: 3;
}

.switch--horizontal label:last-of-type {
  margin-left: 3rem;
}

.switch--horizontal .toggle-outside {
  background: #fdfdfd;
  position: absolute;
  width: 100px;
  left: 100px;
  box-shadow: inset -1px 1px 2px rgba(0,0,0,.23), inset 1px 0px 2px rgba(0,0,0,.23);
}

.switch--horizontal .toggle-inside {
/*   box-shadow: #008bdb33 0px 0px 60px; */
  height: 40px;
  width: 40px;
  margin: 5px 5px 0 0;
  position: absolute;
  cursor: pointer !important;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.switch--horizontal input:checked,
.switch--horizontal input ~ input:checked {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  box-shadow: 0 0 0 2px transparent,0 3px 3px #0000004d;
}

.switch--horizontal input  ~ .toggle-outside .toggle-inside::after,
.switch--horizontal input ~ input  ~ .toggle-outside .toggle-inside::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  -webkit-transform: translateX(55px);
  transform: translateX(55px);

}
/*-----------------------
  Toggle Text CSS
  Styles 'Enabled' and 'Disabled'
-----------------------*/
span.udt_value_text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased; /* a */
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

span.udt_value_text.udt_on_value,
span.udt_value_text.udt_off_value {
  margin-left: 0;
  margin-right: 0;
}

span.udt_value_text.udt_on_value {
  color: white;
}

span.udt_value_text.udt_off_value {
  color: #8e969e;
}

.udt_on_state .udt_on_value,
.udt_off_state .udt_on_value {
  border-radius: 0 50px 50px 0 !important;
  position: relative;
}

.udt_on_state .udt_off_value,
.udt_off_state .udt_off_value {
  border-radius: 0 50px 50px 0;
  position: relative;
  opacity: 1;
}

.udt_off_state .udt_on_value,
.udt_on_state .udt_off_value {
  position: absolute;
  top: 0;
  opacity: 0;
}

/*------------------------------------
  6. $FORM FIELDS
------------------------------------*/


.box-content input + span::after {
  display: flex;
  will-change: opacity transform;
  width: 160px;
  height: 2px;
  margin-left: 20px;
  border-radius: 4px;
  transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  align-self: center;
  opacity: 0;
  z-index: 1;
  content: '';
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px #0000004d;
  opacity: 0;
}

.box-content input:focus + span::after {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.box-content input {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
}

.box-content input:focus {
  display: inline-block;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transform-origin: center;
  transform-origin: center;
  background: white;
  border: 1px solid #51cbee;
}

label {
  cursor: pointer;
}



 .box-content input[type="email"],
.box-content input[type="number"],
.box-content input[type="password"],
.box-content input[type="tel"],
.box-content input[type="text"],
.box-content select {
  font-size:  18px;
  border-radius: 4px;
  letter-spacing: -.015em;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 54px;
  border: 1px solid #E0E0E0;
  -webkit-appearance: none;
  background-color: #fff;
  padding: 8px 10px;
  box-shadow: inset 0px 0px 1px 1px #FAFAFA, 0px 0px 7px 0px #0098d900;
}
/*
.box-content input:focus {
  -webkit-transition: box-shadow 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0s;
  transition: box-shadow 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0s;
  box-shadow: inset 0px 0px 1px 1px #FAFAFA, 0px 0px 7px 0px #0098d94d !important;
  border-color: #0098D9 !important;
} */
.box-content input[type="checkbox"],
.box-content input[type="radio"] {
  display: none
}

.box-content label{
  /* padding-right:1.25em; */
}

#udt_header_settings label {
  display: inline-block;
  position:relative;
  width: 220px;
  height: auto;
  border-radius: 4px;
}

/*------------------------------------
   FOOTER COLOR OTION CSS
  Footer background color boxes
------------------------------------*/
.scheme_white,
.scheme_blue {
  position: relative;
  display: inline-block;
  border:1px solid #E7E7E7;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  margin-right: 0;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#rad_blue_footer:checked + div,
#rad_white_footer:checked + div {
  border:3px solid #00539F;
}

/* label[for="rad_blue_footer"],
label[for="rad_white_footer"] {
  width: 100px;
  height: 50px;
} */

label[for="rad_white_footer"] {
  border-radius: 0 50px 50px 0;
}

label[for="rad_blue_footer"] {
  border-radius: 50px 0 0 50px;
}

.scheme_white {
  background: white;
  color: white;
  border-radius: 0 50px 50px 0;
}

.scheme_blue {
  background: #009EE1;
  color: #009EE1;
  border-radius: 50px 0 0 50px;
}

#rad_blue_footer:checked ~ #rad_white_footer + div {
  border:2px solid #E7E7E7;
}

#rad_white_footer:disabled + .scheme_white,
#rad_blue_footer:disabled + .scheme_blue {
  background:#E7E7E7;
  cursor: no-drop;
}

#main_wrap{
  margin: 35px 50px 30px 30px;
}

.btn {
  margin: 2% auto;
  text-align: center;
}

.save-btn {
  background-color: #fff;
  border-color: transparent;
  border-radius: 4px;
  border: 1px solid #003d6a;
  box-sizing: border-box;
  color: #003d6a;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 15px;
  margin: 0 auto;
}
.save-btn:hover, .save-btn:active {
  background-color: red;
  color: #fff;
}

.message,
.confirm-message,
.saveLoader,
.checkmark {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .5s ease;
}

.checkmark:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid #003d6a;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.saveLoader,
.confirm-message,
.checkmark {
  opacity: 0;
}

.saveLoader {
  top: 7px;
}

.message.animate {
  -webkit-animation: fade-out .3s ease .1s;
          animation: fade-out .3s ease .1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.saveLoader.animate {
  -webkit-animation: fade-in .3s ease .5s, fade-out .3s ease 1.5s;
          animation: fade-in .3s ease .5s, fade-out .3s ease 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.checkmark.animate1 {
  left: 75px;
  top: 11px;
  -webkit-animation: fade-in .1s ease 1.8s;
          animation: fade-in .1s ease 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.confirm-message.animate1 {
  left: -5px;
  -webkit-animation: fade-in .1s ease 1.8s;
          animation: fade-in .1s ease 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



/*------------------------------------------------------------------------------
  9. @NEED SUPPORT?
------------------------------------------------------------------------------*/

.dialogfly {
  z-index: 9;
}
.gridwrapper div {
  padding: 1em;
  box-sizing: border-box;
  background: antiquewhite;
}

@media only screen and (max-width: 782px) {
  .ud-grid--4 {
    -ms-grid-rows:  100px 100px 1fr;
    -ms-grid-columns: 10px 1fr 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr;
  }
  .ud-div--info {
    -ms-grid-column: 1;
    grid-column: 1/-1;
    grid-area: 3 / 1 / 3 / -1;
    max-height: 200px;
    overflow-x: auto;
  }
  .ud-div--email {
    -ms-grid-column: 1;
    grid-column: 1/-1;
    grid-area: 1 / 1 / 1 / -1;
    max-height: 100px;
  }
  .ud-div--phone {
    -ms-grid-column: 1;
    grid-column: 1/-1;
    grid-area: 2 / 1 / 2 / -1;
    max-height: 100px;
  }
  li .img {
    display: none !important;
    visibility: hidden;
  }
  .ud-norm--cards li:before,
  .ud-norm--cards li {
    box-shadow: none;
    border-radius: 0;
  }
  .ud-norm--cards li:hover {
    -webkit-transform:none !important;
    transform:none !important;
}

/*MAKE DIVS 1FR ON MOBILE*/
@media only screen and (max-width: 736px) {
  .gridwrapper {
    -ms-grid-columns: 10px 1fr 10px;
    grid-template-columns: 1fr;
  }
}

#udt_header_settings,
#udt_footer_settings,
#udt_about_settings,
#udt_support_settings {
  height: auto;
  padding: 0;
}

div.u-ta--center {
  text-align: center !important;
  background: #37474f;
  height: 150px;
  display:  -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.ud-norm--cards li li,
.ud-norm--cards li li::before {
  box-shadow: none;
  border: none;
  border-radius: 0;
}
#support_list li,
#support_list li::before {
  border: none !important;
  box-shadow: none !important;
}
#support_list {
  display: block;
  list-style: outside none none;
  overflow-x: auto;
  max-height: 200px;
}

#support_list li::before {
/*   content: "» ";
  color: #CCC; */
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}

#support_list li:hover {
  -webkit-transform: none !important;
  transform: none !important;
}
#support_list > * {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 0 0.9em;
  padding: 0;
  text-indent: -0.9em;
  box-shadow: none !important;
  border: none !important;
}

.support_list li span {
  font-size: 15px;
}

/*------------------------------------------------------------------------------
  10. @MEDIA QUERIES
  a. max-width: 47.938em / 782px
  b. -webkit-min-device-pixel-ratio:0
------------------------------------------------------------------------------*/

@media only screen and (max-width:47.938em){
  .form-table tr,
  .form-table th {
    padding: 16px 0 0;
    text-align: center;
  }

  .submit{
    padding-bottom: 2em
  }

  p.notify{
    position:static;
  }
}

/*------------------------------------------------------------------------------
  11. @MEDIA QUERIES & VIEWPORT TYPOGRAPHY
    @example https://zellwk.com/blog/viewport-based-typography/
------------------------------------------------------------------------------*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
