@import url("../../assets/css/_normalize-udtbp.css");
@import url("../../public/css/_grid.css");
@import url("../../public/css/_branding.css");
@import url("../../public/css/_flexbox.css");
@import url("../../assets/css/_aria.modal.css");
@import url("_jqueryui.css");
@import url("../../assets/css/_helper-classes.css");
@import url("../../assets/css/_fonts.css");
@import url("../../assets/css/_wp-overrides.css");
@import url("../../assets/css/_wcag.css");
@import url("../../assets/css/_admin.tabs.css");
/* @import url("../../assets/css/switch--toggle-button.css");
@import url("../../assets/css/switch--radio-buttons.css");
@import url("../../assets/css/switch--checkbox--alt.css"); */
@import url("../../assets/css/switch--checkbox.css");
/* @import url("../../assets/css/_aria-switch.css"); */
/**
  * $ADMIN CSS
  *
  * Defines all of the styles used in
  * the plugin's ADMIN dashboard.
  *
  * The Table of contents conforms to W3C HTML Elements organization.
  * {@link https://www.w3.org/TR/2012/WD-html-markup-20121025/elements-by-function.html}
  * @since   1.4.2
  * @version 3.5.0
*/
/*------------------------------------------------------------------------------
[Table of contents]
  1. @SECTIONING ROOT
  2. @GROUPING CONTENT
  3. @TEXT-LEVEL SEMANTICS
  4. @EMBEDDED CONTENT
  5. @FORMS
  6. @TABLES
  7. @SCREEN READERS
  8. @MEDIA QUERIES
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 1. @SECTIONING ROOT
------------------------------------------------------------------------------*/
/* body {
  color: #333;
} */
/*------------------------------------------------------------------------------
 4. @TEXT-LEVEL SEMANTICS
------------------------------------------------------------------------------*/
#id-ud-grid {
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  -ms-grid-columns:  10px (100px 1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px;
  grid-auto-rows: 50px;
  grid-auto-flow: row;
}

#id-ud-grid.ud-grid--6 > div {
  background-color: tomato;
  color: white;
  font-size: 4vw;
  padding: 10px;
}
#id-ud-grid.ud-grid--6 > div:last-child {
  -ms-grid-column: 1;
  grid-column: 1/-1;
}

#id-ud-grid .icon {
  width: 100px;
  height: 100px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#id-ud-grid .icon.resz {
  width: 80px;
  height: 80px;
}

#id-ud-grid svg {
  color: white;
}

.ud-grid--4 {
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  -ms-grid-columns:  10px 1fr 10px 1fr 10px 1fr 10px;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows:  1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.ud-div--info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.grid a {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

svg:not(:root) {
  overflow: hidden;
}

#udtbp_form,
#udt_header_settings,
#udt_footer_settings,
#udt_about_settings {
  height: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

.u-ta--center {
  text-align: center !important;
  height: 150px;
  background: #373737;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

#support_list {
  background: #F7F7F7;
  padding: 16px;
  margin-top: 20px;
}

#support_list li:hover {
  -webkit-transform: none !important;
  transform: none !important;
}

/*------------------------------------------------------------------------------
  * 3. $TYPE
------------------------------------------------------------------------------*/
#postbox-container-2 .inside p {
  margin-top: -10px;
}
#udel_message {
  background-color:#FDD;
  padding:.313em;
  font-weight:bold
}

p.submit {
  float: none !important;
  text-align:center;
}

#udtbp-ajax-message p {
  color: white;
  font-size: 24px;
}

.theme_name {
  display: inline;
  font-style: italic;
  font-weight: bold;
}

#udt_wrap {
  background-color: #00539F;
  border-radius: 0;
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

.box-content,
.switch {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  vertical-align: top;
  width: 100%;
  -webkit-transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 2px solid transparent;
}

#udtbp_theme_override > * {
  font-family: "GreycliffCF-Bold",sans-serif;
  font-weight: 400;
}

#udt_wrap h3{
  font-family: "greycliff-light",sans-serif;
  font-size: 24px;
  margin-bottom: 0;

}

#udtbp-ajax-message {
  background-color: #282;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 40px;
  left: 0px;
  line-height: 2;
  padding: 14px;
  position: fixed;
  text-align: center;
  top: 32px;
  width: 100%;
  z-index:9999;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

#udtbp-ajax-saving {
  display: none;
  -webkit-transition: background, box-shadow 0.3s;
  transition: background, box-shadow 0.3s;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 110px;
  height: 110px;
  background: transparent;
  z-index: 999999;
}

#udtbp-ajax-saving.success-animation {
  background-color: #090;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 40px;
  opacity: 1;
}

#udtbp-ajax-saving.success-animation:before {
  background: none;
  font-family: 'dashicons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f147";
  color: white;
  font-size: 22px;
  line-height: 50px;
}

#udtbp-ajax-saving.et_loading:before,
#udtbp-ajax-saving.success-animation img,
#udtbp-ajax-message {
  display: none;
}

#udtbp_theme_override.show
#udtbp-ajax-message.show {
  display: inline-block;
}

.ud-header--title {
  height: 50px;
  padding: 0 12px;
}

.ud-header--title h1 {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  font-family: "greycliff-bold", Arial;
  font-size: 17px !important;
  letter-spacing: 0.15px;
  height: 100%;
  margin: 0;
  padding: 0;
  color:  white;
  text-transform: uppercase;
  border: none;
}
/*------------------------------------------------------------------------------
  * 5. $FORMS
------------------------------------------------------------------------------*/
body#error-page #ud-id-head,
body#error-page #ud-id-foot {
  display: none !important;
  visibility: hidden;
}

/*-----------------------
  Visibility Toggle CSS
-----------------------*/
#tem {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}
.udt_yes_no_button,
.wp-core-ui .button.save-button {
  border-radius: 4px;
}

.udt_yes_no_button,
#udt_panel_mainmenu li:hover,
#udt_panel_mainmenu li.ui-tabs-active,
#udtbp-ajax-message  {
  box-shadow:  inset 0 0 30px rgba(0,0,0, 0.25);
}

.udt_yes_no_button {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
  height: 50px;
  background: #fdfdfd;
  box-shadow: inset -1px 1px 2px #0003, inset 1px 0px 2px #0003;
}

.udt_yes_no_button span.udt_button_slider {
  background: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px #0003, 0 6px 6px #0003;
  height: 40px;
  width: 40px;
  margin: 5px 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.udt_yes_no_button.udt_on_state {
  background-color: #282;
}

.udt_yes_no_button.udt_off_state {
  background-color: #f1f5f9;
}
.udt_yes_no_button.udt_on_state span.udt_button_slider {
  -webkit-transform: translateX(35px);
  transform: translateX(35px);
  box-shadow: 0 5px 10px #0003, 0 3px 3px #0003;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.udt_yes_no_button span.udt_button_slider {
  position: absolute;
  left: 5px;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  box-shadow: 0 5px 10px #0003, 0 3px 3px #0003;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 5;
}

span#tem {
  position: absolute;
  right: 0;
  width: 90px;
}

span#tem::before {
  right: 45px;
  border-radius: 50px 0 0 50px;
}

span#tem::before,
span#tem::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #F7F7F7;
  height: 44px;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  width: 44px;
}

span#tem::after {
  border-radius: 0 50px 50px 0;
  right: 5px;
}

.switch {
  width: 100%;
  max-width: 302px;
  height: 50px;
  position: relative;
  border-radius: 4px;
}

.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.switch span {
  height: 50px;
}

#udtbp_form input:checked {
  z-index: 1;
}

#udtbp_form input:checked + label {
  cursor: default;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

#ud-id-cf::before,
#ud-id-cf.disabled input {
  opacity: 0;
}
#ud-id-cf.disabled {
  opacity: .6;
  background: #CCC;
}
#ud-id-cf.disabled::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 999;
}

#ud-id-cf.disabled label{
  background-color: transparent !important;
  color: transparent !important;
}

.switch input:not(:checked) + label,
#rad_blue_footer + label::after,
#rad_white_footer + label::before {
  webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.switch label {
  color: #333;
  cursor: pointer;
}

.switch #rad_blue_footer:checked + label,
#udtbp_footer_options[view-footer]:checked label[for="rad_blue_footer"] {
  background:#00539F;
  color: white;
}

.switch #rad_white_footer:checked + label,
#udtbp_footer_options[view-footer]:checked label[for="rad_white_footer"] {
  background:ghostwhite;
  color: #333;
}

.switch #rad_blue_footer + label {
  border-radius: 4px 0 0 4px;
}

.switch #rad_white_footer + label {
  border-radius: 0 4px 4px 0;
}

#ud-id-vf,
#ud-id-cf {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border:2px solid transparent;
  box-shadow: 0px 2px 4px #0000001a, 0px 2px 3px #0003;
}

#ud-id-vh:hover,
#ud-id-vf:hover,
#ud-id-cf:not(.disabled) label:hover  {
  border:2px solid #2196f3;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0px 8px 16px #0003, 0px 6px 6px #0003;
}

#ud-id-vh:hover label,
#ud-id-vf:hover,
#ud-id-cf:not(.disabled) label:hover  {
  border:2px solid #2196f3;
}

#ud-id-vf label {
  width: 100%;
  margin-left: 0;
  border-radius: 4px;
}

#ud-id-vf label,
#ud-id-cf label {
  font-size: 23px;
  line-height: 1.9;
  display: inline-block;
  height: 100%;
  text-align: center;
  z-index: 3;
}

.switch--horizontal {
  margin: 0 auto;
  font-size: 0;
}

.switch--horizontal input {
  height: inherit;
  width: 100px;
  left: 100px;
  margin: 0;
}

.color-on {
  background: #282;
}

.color-on label {
  color:  white;
}

.color-off label {
  color: #333;
}

.color-off {
  background: #CCC;
}

#ud-id-cf label {
  width: 110px;
}

.switch--horizontal input:checked,
.switch--horizontal input ~ input:checked {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  box-shadow: 0 0 0 2px transparent,0 3px 3px #0000004d;
}

.switch--horizontal label:last-of-type {
  margin-left: 3rem;
}

#rad_white_footer + label {
  margin-left: 78px;
}

.switch--horizontal .toggle-outside {
  background: #fdfdfd;
  position: absolute;
  width: 80px;
  left: 109px;
  box-shadow: inset -1px 1px 2px rgba(0,0,0,.23), inset 1px 0px 2px rgba(0,0,0,.23);
    height: 90%;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

.switch--horizontal .toggle-inside {
  height: 40px;
  width: 40px;
  margin: 5px 5px 0 0;
  position: absolute;
  cursor: pointer !important;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

input[type="radio"].disabled, input[type="radio"].disabled:checked::before, input[type="radio"]:disabled, input[type="radio"]:disabled:checked::before, input[type="checkbox"].disabled, input[type="checkbox"].disabled:checked::before, input[type="checkbox"]:disabled, input[type="checkbox"]:disabled:checked::before {
  opacity: 0;
}

.switch--horizontal input  ~ .toggle-outside .toggle-inside::after,
.toggle-outside .toggle-inside::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

input:checked ~ .toggle-outside .toggle-inside {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

input ~ input:checked ~ .toggle-outside .toggle-inside {
  -webkit-transform: translateX(35px);
  transform: translateX(35px);

}
/*-----------------------
  Toggle Text CSS
  Styles 'Enabled' and 'Disabled'
-----------------------*/
span.udt_value_text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased; /* a */
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

span.udt_value_text.udt_on_value,
span.udt_value_text.udt_off_value {
  margin-left: 0;
  margin-right: 0;
}

span.udt_value_text.udt_on_value {
  color: white;
}

span.udt_value_text.udt_off_value {
  color: #8e969e;
}

.udt_on_state .udt_on_value,
.udt_off_state .udt_on_value {
  border-radius: 0 50px 50px 0 !important;
  position: relative;
}

.udt_on_state .udt_off_value,
.udt_off_state .udt_off_value {
  border-radius: 0 50px 50px 0;
  position: relative;
  opacity: 1;
}

.udt_off_state .udt_on_value,
.udt_on_state .udt_off_value {
  position: absolute;
  top: 0;
  opacity: 0;
}

/*------------------------------------
  6. $FORM FIELDS
------------------------------------*/

.box-content input[type="text"] {
  position: relative;
  width: 100%;
  height: 50px;
 font-size:  18px;
  border-radius: 4px;
  letter-spacing: -.015em;
  padding: 8px;
   border: 1px solid #E0E0E0;
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
}

.box-content input[type="text"]:focus {
  display: inline-block;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transform-origin: center;
  transform-origin: center;
  background: white;
  border: 1px solid #51cbee;
}

.box-content input[type="text"] + span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px #0000004d;
  transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.box-content input[type="text"]:focus + span {
  box-shadow: 0 8px 16px #0003, 0px 6px 6px #0003;
  transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  will-change: opacity, transform;
  opacity: 1;
}

label {
  cursor: pointer;
}

.box-content input[type="checkbox"],
.box-content input[type="radio"] {
  display: none
}

#udt_header_settings label {
  display: inline-block;
  position:relative;
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 4px;
}

/*------------------------------------
   FOOTER COLOR OTION CSS
  Footer background color boxes
------------------------------------*/
.scheme_white,
.scheme_blue {
  position: relative;
  display: inline-block;
  border:1px solid #E7E7E7;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  margin-right: 0;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#udtbp_footer_options[view-footer]:checked + label {
  cursor: not-allowed;
}

#rad_blue_footer:disabled,
#rad_white_footer:disabled{
  opacity: .3

}

#rad_blue_footer:checked ~ #rad_white_footer + div {
  border:2px solid #E7E7E7;
}

#rad_white_footer:disabled + .scheme_white,
#rad_blue_footer:disabled + .scheme_blue {
  background:#E7E7E7;
  cursor: no-drop;
}

#main_wrap{
  margin: 35px 50px 30px 30px;
}

.btn {
  margin: 2% auto;
  text-align: center;
}

.save-btn {
  background-color: #fff;
  border-color: transparent;
  border-radius: 4px;
  border: 1px solid #003d6a;
  box-sizing: border-box;
  color: #003d6a;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 15px;
  margin: 0 auto;
}
.save-btn:hover, .save-btn:active {
  background-color: red;
  color: #fff;
}

.message,
.confirm-message,
.saveLoader,
.checkmark {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .5s ease;
}

.checkmark:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid #003d6a;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.saveLoader,
.confirm-message,
.checkmark {
  opacity: 0;
}

.saveLoader {
  top: 7px;
}

/*------------------------------------------------------------------------------
  9. @NEED SUPPORT?
------------------------------------------------------------------------------*/

.dialogfly {
  z-index: 9;
}
.gridwrapper div {
  padding: 1em;
  box-sizing: border-box;
  background: antiquewhite;
}

@media only screen and (max-width: 782px) {
  .ud-grid--4 {
    -ms-grid-rows:  100px 100px 1fr;
    -ms-grid-columns: 10px 1fr 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr;
  }
  .ud-div--info {
    -ms-grid-column: 1;
    grid-column: 1/-1;
    grid-area: 3 / 1 / 3 / -1;
    max-height: 200px;
    overflow-x: auto;
  }
  .ud-div--email {
    -ms-grid-column: 1;
    grid-column: 1/-1;
    grid-area: 1 / 1 / 1 / -1;
    max-height: 100px;
  }
  .ud-div--phone {
    -ms-grid-column: 1;
    grid-column: 1/-1;
    grid-area: 2 / 1 / 2 / -1;
    max-height: 100px;
  }
  li .img {
    display: none !important;
    visibility: hidden;
  }
  .ud-norm--cards li:before,
  .ud-norm--cards li {
    box-shadow: none;
    border-radius: 0;
  }
  .ud-norm--cards li:hover {
    -webkit-transform:none !important;
    transform:none !important;
}

/*MAKE DIVS 1FR ON MOBILE*/
@media only screen and (max-width: 736px) {
  .gridwrapper {
    -ms-grid-columns: 10px 1fr 10px;
    grid-template-columns: 1fr;
  }
}

#udt_header_settings,
#udt_footer_settings,
#udt_about_settings {
  height: auto;
  padding: 0;
}

div.u-ta--center {
  text-align: center !important;
  background: #37474f;
  height: 150px;
  display:  -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

#support_list li,
#support_list li::before {
  border: none !important;
  box-shadow: none !important;
}
#support_list {
  display: block;
  list-style: outside none none;
  overflow-x: auto;
  max-height: 200px;
}

#support_list li::before {
/*   content: "» ";
  color: #CCC; */
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}

#support_list li:hover {
  -webkit-transform: none !important;
  transform: none !important;
}
#support_list > * {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 0 0.9em;
  padding: 0;
  text-indent: -0.9em;
  box-shadow: none !important;
  border: none !important;
}

.support_list li span {
  font-size: 15px;
}

/*------------------------------------------------------------------------------
  10. @MEDIA QUERIES
  a. max-width: 47.938em / 782px
  b. -webkit-min-device-pixel-ratio:0
------------------------------------------------------------------------------*/

@media only screen and (max-width:47.938em){
  .form-table tr,
  .form-table th {
    padding: 16px 0 0;
    text-align: center;
  }

  .submit{
    padding-bottom: 2em
  }

  p.notify{
    position:static;
  }
}
